{{ header }}
<section class="welcome">
	<div class="container">
		<div class="welcome__body">
			<article class="heading-group heading-group--max-width-primary">
				<h1 class="heading">F1.comp лучшие товары для геймера</h1>
				<p class="subheading">F1.comp интернет магазин по продаже комплектущих для ПК, игровых
																						компьютеров и переферии для настоящего геймера.</p>
			</article>
		</div>
	</div>
</section>
<section class="partners">
	<div class="container">
		<div class="partners__body">
			<h2 class="heading heading--secondary heading--align-center partners__heading">Мы официальные дистрибьюторы</h2>
			<ul class="partners__list">
				<li class="partners__item">
					<img class="partners__img" src="catalog/view/theme/f1/img/dark-flash.aeff6080ecfed8a9e997.png" alt="darkFlash">
				</li>
				<li class="partners__item">
					<img class="partners__img" src="catalog/view/theme/f1/img/victorage.3186cbfa02d26316d5a0.png" alt="Victorage">
				</li>
				<li class="partners__item">
					<img class="partners__img" src="catalog/view/theme/f1/img/fuhlen.f3f15581f37aa5f123fb.png" alt="Fuhlen">
				</li>
				<li class="partners__item">
					<img class="partners__img" src="catalog/view/theme/f1/img/xiberia.ef2ecde85bbeb2eeb99d.png" alt="Xiberia">
				</li>
			</ul>
		</div>
	</div>
</section>
{{ latest }}
{{ bestseller }}
{{ footer }}
