<form class="search header__search" action="index.php" method="get">
	<input type="hidden" name="route" value="product/search">
	<input class="input input--tertiary search__input" type="text" inputmode="search" name="search" placeholder="Поиск по каталогу" required aria-label="поиск по каталогу">
	<button class="search__button" aria-label="найти"></button>
</form>
